# Build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache

# VS Code folders
.vscode/
.vs/

# Temp files
*.tmp
*.temp
*.bak

# Cache files
*.[Cc]ache
*.cache

# Log files
*.log

# Compiled binary and intermediate files
*.dll
*.exe
*.pdb
*.obj
*.ilk
*.exp

# NuGet Packages
*.nupkg
packages/

# Editor-specific files
*.swp
